@import "../../../../modules//data-widgets/src/themesource/datawidgets/web/datagrid.scss";
div[class^="mx-name-dataGrid2G"] {
    .table-actions {
        display: flex;
        margin-bottom: 0;
    }

    .tr {
        &:hover,
        &.selected {
            .td {
                background-color: lighten($grid-border-color, 5%);
            }
        }
        &.selected:hover .td {
            background-color: lighten($grid-border-color, 2.5%);
        }
    }
    .table-actions {
        margin-bottom: 0;
    }

    .table {
        .th {
            padding: 8px;
        }
    }
    .white-space-pre {
        .td-text {
            white-space: pre !important;
        }
    }
    .tr.th {
        padding: 8px;
    }
    .table-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        //outline: 1px solid #ced0d3;
        //outline-offset: 8px;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 8px;
        .pagination-bar {
            margin-bottom: 0;
            flex-basis: 100%;
        }
        .table-label {
            h4 {
                padding: 0;
                margin: 0;
            }
            flex-grow: 1;
            justify-self: center;
            align-self: center;
        }
        .table-actions {
            a {
                padding: 0.65rem 0px;
            }
            button {
                padding: 0.65rem 9px;
            }
            button,
            a {
                margin: 0 0.3em;
                &:first-of-type {
                    margin: 0 0.3em 0 0.3em;
                }
                &:last-of-type {
                    margin: 0 0 0 0.3em;
                }
            }
            margin-right: 8px;
        }
    }
    .pagination-bar .pagination-button {
        padding: 0 !important;
    }
    .table-header-line {
        border-bottom: 1px solid #ced0d3;
        flex-basis: 100%;
        margin: 8px 4px 0;
    }
}
